body {
    background-color: black;
    color:red;
    font-family: 'Open Sans', sans-serif;
}
.title{
    text-align:center;
    font-size: 48px;
}
.formLayout{
    margin: 10px;
}
button{
    background-color:white;
}